<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <div class="container">
            <% include ../public/partials/header %>
            <h3>Existing polls</h3>
            <form id="pollList"></form>
            <br>
            <div class="btn-group">
                <a href="poll-edit" class="btn btn-primary" role="button">Add</a>
                <button type="button" id="edit-button" class="btn btn-primary">Edit</button>
                <button type="button" id="delete-button" class="btn btn-primary">Delete</button>
            </div>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/ready.client.js"></script>
        <script type="text/javascript" src="/controllers/authorDashboardController.client.js"></script>
    </body>
</html>