<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        <div class="container">
            <br/>
            <p>Existing polls</p>
            <br/>
            <form id="pollList"></form> 
            <div class="btn-container">
                <button id="delete-button" class="btn btn-delete">Delete</button>
                <button id="edit-button" class="btn btn-edit">Edit</button></br>
                <a href="poll-edit" class="btn btn-add" role="button">Add</a>
            </div>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/authorDashboardController.client.js"></script>
    </body>
</html>