<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            <p>Existing polls</p>
            <br/>
            <form id="pollList"></form>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/homeController.client.js"></script>
    </body>
</html>