<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            <p>Existing polls</p>
            <br/>
            <div id="pollList">
                <% for(var i=0; i<existingpolls.length; i++){ %>
                    <a href='<%= "poll-choice?pollId=" + existingpolls[i]._id %>'><%= existingpolls[i].pollname %></a></br>
                <% } %>
            </div>
        </div>
        
        <% include ../public/partials/footer %>
    </body>
</html>