<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        <div class="container">
            <br/>
            <p>Add new poll</p>
            <br/>
            <form id="newpoll">
                
            </form> 
        </div>
        
        <% include ../public/partials/footer %>
    </body>
</html>