<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>

    <body>
        <div class="container">
            <% include ../public/partials/header %>
            <h3><%= pollName %></h3>

            <svg id="visualisation" class="chart" width="600" height="200"></svg>
    
            <input type="hidden" id="pollId" value="<%= pollId %>"/>
        </div>
        
        <% include ../public/partials/footer %>

        <script type="text/javascript" src="/controllers/pollResultsController.client.js"></script>
    </body>
</html>