<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            <%= polldata.pollname %>
            </br>
            <form id="pollList" action="/poll-choice" method="post">
                <input type="hidden" name="pollId" value="<%= polldata._id %>">
                <% for(var i=0; i<polldata.pollOptions.length; i++){ %>
                    <input type="radio" name="polloption" value="<%= i %>"><%= polldata.pollOptions[i];%></br>
                <% } %>
                <input type="submit" value="Submit">
            </form>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/getParameters.client.js"></script>
        <script type="text/javascript" src="/controllers/pollChoiceController.client.js"></script>
    </body>
</html>