<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            <%= polldata.pollname %></br>
            <% for(var i=0; i<polldata.pollVotes.length; i++){ %>
                <%= polldata.pollOptions[i]%> <%= Math.floor((polldata.pollVotes[i] / polldata.totalvotes) * 100) %>%</br>
            <% } %>
        </div>
        
        <% include ../public/partials/footer %>
    </body>
</html>