<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <div class="container">
            <% include ../public/partials/header %>
            <h3>Poll editor</h3>
            <form action="/poll-edit" method="post">
                <input type="hidden" name="pollId" id="pollId" value="<%= pollId %>">
                <div class="form-group">
                    <label for="pollname">Poll name:</label>
                    <input type="text" class="form-control" name="pollname" id="pollname">
                </div>
                <div id="optionlist"></div>
                <div class="btn-group">
                    <button type="button" id="add-option-button" class="btn btn-primary">Add option</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/getParameters.client.js"></script>
        <script type="text/javascript" src="/controllers/ready.client.js"></script>
        <script type="text/javascript" src="/controllers/pollEditController.client.js"></script>
    </body>
</html>