<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        <div class="container">
            <br/>
            <p>Poll editor</p>
            <br/>
            <form action="/poll-edit" method="post">
                <input type="hidden" name="pollId" id="pollId" value="<%= pollId %>">
                Poll name <input type="text" name="pollname" id="pollname"><br>
                <div id="optionlist">
                    Option 1<input type="text" name="option0" id="option0"><br>
                    Option 2<input type="text" name="option1" id="option1"><br>
                </div>
                <input type="submit" value="Submit">
            </form>
            <button id="add-option-button" class="btn btn-edit">Add option</button></br>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/getParameters.client.js"></script>
        <script type="text/javascript" src="/controllers/pollEditController.client.js"></script>
    </body>
</html>