<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            Poll name: <span id="pollName"></span>
            <div id="pollOptions"></div>
            <div class="btn-container">
                <button class="btn btn-create-poll">Create</button>
            </div>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/pollEditController.client.js"></script>
    </body>
</html>