<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            New poll added<br>
            URL: <a href="http://dynamic-web-application-projects-generalwellbeing.c9users.io/poll-choice?pollId=<%= pollId %>">link</a>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/clickController.client.js"></script>
    </body>
</html>