<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            <%= poll[0].pollname %>
            </br>
            <% for(var i=0; i<poll[0].polloptions.length; i++){ %>
                <%= poll[0].polloptions[i];%>
                </br>
            <% } %>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/clickController.client.js"></script>
    </body>
</html>