<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        <div class="container">
            <br/>
            <p>Add new poll</p>
            <br/>
            <form action="/poll-add" method="post">
                Poll name <input type="text" name="pollname"><br>
                <div id="optionlist"></div>
                    Option 1<input type="text" name="option0"><br>
                    Option 2<input type="text" name="option1"><br>
                </div>
                <input type="submit" value="Add">
            </form>
        </div>
        
        <% include ../public/partials/footer %>
    </body>
</html>