<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>

    <body>
        <div class="container">
            <% include ../public/partials/header %>
            <h3><%= pollName %></h3>

            <svg id="visualisation" class="chart" width="600" height="200"></svg>
    
            <input type="hidden" id="pollId" value="<%= pollId %>"/>
        
            <ul class="list-group">
                <div id="pollList">
                    <% for(var i=0; i<pollOptions.length; i++){ %>
                        <li class="list-group-item"><%= String.fromCharCode(65 + i)%> <%= pollOptions[i] %></li>
                    <% } %>
                </div>
            </ul>
        </div>
        
        <% include ../public/partials/footer %>

        <script type="text/javascript" src="/controllers/pollResultsController.client.js"></script>
    </body>
</html>