<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            <p>You have clicked the button <span id="click-nbr"></span> times.</p>
            <br/>
            <div class="btn-container">
                <button type="submit" class="btn btn-add">CLICK ME!</button>
                <button class="btn btn-delete">RESET</button>
            </div>
        </div>
        
        <% include ../public/partials/footer %>
    </body>
</html>