<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            Sign up
            <br/>
            <form action="/sign-up" method="post">
                Username: <input type="text" id="username" name="username">
            	<br/>
            	Password: <input type="password" id="password" name="password">
            	<br/>
                Display name: <input type="text" id="displayName" name="displayName">
            	<br/>
            	Email: <input type="text" id="email" name="email">
            	<br/>
            	<button type="submit">Sign up</button>
            </form>
        </div>
        
        <% include ../public/partials/footer %>
    </body>
</html>