<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <% include ../public/partials/header %>
        
        <div class="container">
            Sign in
            <br/>
            <form action="/sign-in" method="post">
            	Username: <input type="text" name="username">
            	<br/>
            	Password: <input type="password" name="password">
            	<br/>
            	<button type="submit">Sign in</button>
            </form>
        </div>
        
        <% include ../public/partials/footer %>
    </body>
</html>