<div class="container">
    <img src="/public/img/vote.png" width="62" height="72"/>
    <br/>
    <p class="heading-text">FreeCodeCamp Voting App</p>
    <% if(username){%>
        <a href="/log-out">Sign out</a>
    <% }else{%>
        <a href="/sign-in">Sign in</a>
    <% }%>
</div>