<div class="container">
    <img src="/public/img/vote.png" width="62" height="72"/>
    <br/>
    <p class="heading-text">FreeCodeCamp Voting App</p>
    <% if(displayname !== ""){%>
        Hello <%= displayname %> <a href="/log-out">Sign out</a>
    <% }else{%>
        <a href="/sign-in">Sign in</a>
        <a href="/sign-up">Sign up</a>
    <% }%>
</div>